*{
margin 0;
padding: 0;
box-sizing: border-box;

}

body {
    background-image: url('https://fondosmil.com/fondo/3879.jpg');

}

.form-register{
width: 400px;
background-color: rgb(32, 204, 204);
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
box-shadow: 7px 20px 40px rgb(14, 167, 206);
}

.form-register h4{
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;

}

.controls {
    width: 100%;
    background-color: rgb(228, 226, 229);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px; solid #0000;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 15px;
}

.form-register a {
    color: black;   
    text-decoration: none;
}

.form-register a:hover {
    color: black;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: black;
    border: none;
    padding: 12px;
    color: whitesmoke;
    margin: 16px auto;
    font-size: 15px;
    display: block;
    width: 75%;
    text-align: center;
}